h1{
    text-align: center;
    color: red;
}

img{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    color: white;
    background-color: black;
    height: 40px;
}

ul{
    display: flex;
    
}